<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/socket.io-1.2.0.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation" style="background-color: #404952;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{{ url }}/public" class="navbar-brand">
                        <i class="fa fa-wechat"></i> iChat
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{{ url }}/public">
                                <i class="fa fa-home"></i> Home
                            </a>
                        </li>
                        <li class="active">
                            <a href="{{ url }}/date">
                                <i class="fa fa-male"></i><i class="fa fa-female"></i> Meet
                            </a>
                        </li>
                        <li>
                            <a href="{{ url }}/adv">
                                <i class="fa fa-shopping-cart"></i> Advert
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                Hello, {{ user.username }}<span class="caret"></span> 
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{{ url }}/edit/{{user.id}}">
                                        <i class="fa fa-cog"></i> Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url }}/logout">
                                        <i class="fa fa-sign-out"></i> Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid" style="margin-top: 60px;">
            <div class="row-fluid">
                <div class="col-md-8">
                    <div class="panel">
                        <div class="panel-heading" style="padding: 0;">
                            <ul class="nav nav-tabs" role="tablist" id="tablist">
                                <li id="ttt_home" class="active">
                                    <a href="#home" role="tab" data-toggle="tab">
                                        <i class="fa fa-comment-o"></i> Public
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-body tab-content" style="overflow: auto; height: 65%; border: 1px solid #428bca;" id="wrapper">
                            <div class="tab-pane active" id="home">
                                <ul class="media-list" id="messages"><ul>
                            </div>
                        </div>
                        <div class="panel-footer" style="border: 1px solid #428bca; border-top: 0;">
                            <form id="chat-form">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" type="submit">
                                            <i class="fa fa-cloud-upload"></i> &nbsp;
                                        </button>
                                    </span>
                                    <input type="text" name="message" class="form-control" placeholder="Энд бичнэ үү..." tabindex=1 />
                                    <span class="input-group-btn">
                                        <button class="btn btn-info" type="submit" tabindex=2>
                                            <i class="fa fa-plus"></i> Send
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-users"></i> Online users
                        </div>
                        <div class="panel-body" style="overflow: auto; height: 76%;">
                            <ul class="media-list" id="online_users">
                            </ul>
                        </div>
                    </div>
                </div>
            </div> <!-- end of row-fluid -->
        </div> <!-- end of container-fluid -->
    </body>
</html>
<script type="text/javascript">
<!--
    $(function(){
         
    })
    
    var socket = io();
    
    $('#wrapper').stop().animate({
      scrollTop: $("#wrapper")[0].scrollHeight
    }, 800);
    
    socket.on('online users', function(users){
        $('#online_users').empty();
        for(var i=0; i<users.length; i++){
            var gender = '';
            if(users[i].gender == 'male') {
                gender = '<i class="fa fa-male" style="color: #428bca;"></i>';
            }
            else if(users[i].gender == 'female'){
                gender = '<i class="fa fa-female" style="color: #d61a21;"></i>';
            }
            var greeting = "What's up";
            if(users[i].greeting)
                greeting = users[i].greeting;
            
            var img = '<img class="media-object img-circle img-responsive" style="width: 50px; height: 50px;" src="images/default.png">';
            if(users[i].avatar)    
                img = '<img class="media-object img-circle img-responsive" style="width: 50px; height: 50px;" src="/uploads/'+ users[i].avatar+'">';
            
            
            var wrapper = '<li class="media">' +
                                '<div class="media-body">' +
                                    '<div class="media">' +
                                        '<a class="pull-left" href="javascript:;" onclick="chating(\'' + users[i].username + '\', \'' + users[i].id + '\');">' +
                                            img +
                                        '</a>' +
                                        '<div class="media-body" style="float: left;">' +
                                            '<h5>'+ users[i].username + ' | ' + gender +'</h5>' +
                                            '<small class="text-muted">'+ greeting +'</small>' +
                                        '</div>' +
                                    '</div>' +
                                '</div>' +
                            '</li>';
            $('#online_users').append(wrapper);   
        }
    });
-->
</script>
